<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row center-align">
      <a href="https://twitter.com/dorian_codes"><i class="fa fa-twitter fa-3x icon-block yellow-text text-lighten-3" aria-hidden="true"></i></a>
      <a href="https://github.com/doriancodes"><i class="fa fa-github fa-3x icon-block yellow-text text-lighten-3" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/doriancodes/"><i class="fa fa-linkedin fa-3x icon-block yellow-text text-lighten-3" aria-hidden="true"></i></a>
      <a href="https://medium.com/@dorian.codes"><i class="fa fa-medium fa-3x icon-block yellow-text text-lighten-3" aria-hidden="true"></i></a>
      <a href="hello@alo.codes"><i class="fa fa-at fa-3x icon-block yellow-text text-lighten-3" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made with <a class="yellow-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
